* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-d-1 {
    width: 8.33%;
}

.col-d-2 {
    width: 16.66%;
}

.col-d-3 {
    width: 25%;
}

.col-d-4 {
    width: 33.33%;
}

.col-d-5 {
    width: 41.66%;
}

.col-d-6 {
    width: 50%;
}

.col-d-7 {
    width: 58.33%;
}

.col-d-8 {
    width: 66.66%;
}

.col-d-9 {
    width: 75%;
}

.col-d-10 {
    width: 83.33%;
}

.col-d-11 {
    width: 91.66%;
}

.col-d-12 {
    width: 100%;
}


/*----Home----*/

#home {
    min-height: 100vh;
}

.inner {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin: 0%;
    padding: 0;
}

.inner .img {
    margin: 0;
    padding: 0;
    height: 100%;
}

.inner .img img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: left;
}

.inner .reading {
    margin-top: 10%;
}

.reading .heads h2 {
    font-size: 3em;
    color: rgb(15, 209, 144);
    font-style: italic;
}

.reading .heads h4 {
    font-size: 2.5em;
    color: rgb(85, 76, 76);
    margin-bottom: 0.6em;
}

.reading .para p {
    margin-bottom: 2.2em;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(119, 109, 109);
}

.reading .reading-button a {
    font-size: 1.1em;
    color: white;
    padding: 15px 20px;
    background-color: rgb(15, 209, 144);
    border-radius: 34px;
    text-align: center;
    position: relative;
}

.reading .reading-button a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    background-color: rgba(252, 252, 252, 0.247);
    opacity: 0;
    transition: 0.4s;
}

.reading .reading-button a:hover::before {
    opacity: 0.5;
    width: 100%;
    top: 0%;
    background-color: blanchedalmond;
}


/*----Navigation----*/

.nav-bar {
    height: 8vh;
    position: fixed;
    top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    z-index: 5;
}

.scroll {
    background-color: rgb(206, 235, 228);
}

.nav-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-logo a {
    font-size: 1.45em;
    text-decoration: none;
    color: rgb(15, 209, 144);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}

.nav-icon {
    display: none;
}

.nav-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link nav a {
    overflow: hidden;
    text-decoration: none;
    color: rgb(15, 209, 144);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
    letter-spacing: 2px;
    position: relative;
    padding: 0 0 10px 0;
    text-transform: uppercase;
    transition: 0.5s ease;
}

.nav-link nav a::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: rgb(15, 209, 144);
    border-radius: 8px;
    transition: 0.4s ease;
}

.nav-link nav a:hover::before {
    width: 100%;
    left: 0%;
}


/*-----Geners------*/

#Genres {
    min-height: 100vh;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}


/*----- images ------*/

#space {
    padding-top: 70px;
}

.img-container {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.flip-card {
    width: 400px;
    height: 250px;
    border: 1px solid white;
    box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.521), inset 3px 3px 15px rgba(167, 160, 160, 0.842);
    border-radius: 20px;
    perspective: 1000px;
    overflow: hidden;
    margin-bottom: 40px;
}

.flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-inner {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    border-radius: 20px;
    backface-visibility: hidden;
}

.front {
    background-color: turquoise;
    cursor: pointer;
    color: black;
}

.front img {
    border-radius: 20px;
}

.back {
    background-color: rgb(32, 202, 165);
    color: white;
    transform: rotateY(180deg);
}


/*First content*/

#content-1 {
    text-align: center;
    padding-top: 10px;
}

#content-1 h3 {
    padding-bottom: 5px;
}

#content-1 p {
    font-family: 'Pangolin', 'Pangolin', cursive;
    padding-bottom: 5px;
}

#content-1 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', 'Pangolin', 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-1 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/*second content*/

#content-2 {
    text-align: center;
    padding-top: 10px;
}

#content-2 h3 {
    padding-bottom: 10px;
}

#content-2 p {
    font-family: 'Pangolin', 'Pangolin', cursive;
    padding-bottom: 5px;
}

#content-2 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-2 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/* 3rd content*/

#content-3 {
    text-align: center;
    padding-top: 10px;
}

#content-3 h3 {
    padding-bottom: 10px;
}

#content-3 p {
    font-family: 'Pangolin', cursive;
    padding-bottom: 5px;
}

#content-3 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-3 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/* 4th content*/

#content-4 {
    text-align: center;
    padding-top: 10px;
}

#content-4 h3 {
    padding-bottom: 10px;
}

#content-4 p {
    font-family: 'Pangolin', cursive;
    padding-bottom: 5px;
}

#content-4 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-4 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/* 5th content*/

#content-5 {
    text-align: center;
    padding-top: 10px;
}

#content-5 h3 {
    padding-bottom: 10px;
}

#content-5 p {
    font-family: 'Pangolin', cursive;
    padding-bottom: 10px;
}

#content-5 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-5 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/* 6thcontent*/

#content-6 {
    text-align: center;
    padding-top: 10px;
}

#content-6 h3 {
    padding-bottom: 10px;
}

#content-6 p {
    font-family: 'Pangolin', cursive;
    padding-bottom: 5px;
}

#content-6 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-6 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/* 7th content*/

#content-7 {
    text-align: center;
    padding-top: 10px;
}

#content-7 h3 {
    padding-bottom: 10px;
}

#content-7 p {
    font-family: 'Pangolin', cursive;
    padding-bottom: 10px;
}

#content-7 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-7 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/* 8th content*/

#content-8 {
    text-align: center;
    padding-top: 10px;
}

#content-8 h3 {
    padding-bottom: 10px;
}

#content-8 p {
    font-family: 'Pangolin', cursive;
    padding-bottom: 10px;
}

#content-8 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-8 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/*9th content*/

#content-9 {
    text-align: center;
    padding-top: 10px;
}

#content-9 h3 {
    padding-bottom: 10px;
}

#content-9 p {
    font-family: 'Pangolin', cursive;
    padding-bottom: 5px;
}

#content-9 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-9 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/* 10 content*/

#content-10 {
    text-align: center;
    padding-top: 10px;
}

#content-10 h3 {
    padding-bottom: 10px;
}

#content-10 p {
    font-family: 'Pangolin', cursive;
    padding-bottom: 5px;
}

#content-10 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-10 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/*11 content*/

#content-11 {
    text-align: center;
    padding-top: 10px;
}

#content-11 h3 {
    padding-bottom: 10px;
}

#content-11 p {
    font-family: 'Pangolin', cursive;
    padding-bottom: 5px;
}

#content-11 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-11 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/* 12th content*/

#content-12 {
    text-align: center;
    padding-top: 10px;
}

#content-12 h3 {
    padding-bottom: 10px;
}

#content-12 p {
    font-family: 'Pangolin', cursive;
    padding-bottom: 5px;
}

#content-12 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-12 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/* 13th content*/

#content-13 {
    text-align: center;
    padding-top: 10px;
}

#content-13 h3 {
    padding-bottom: 10px;
}

#content-13 p {
    font-family: 'Pangolin', cursive;
    padding-bottom: 10px;
}

#content-13 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-13 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/* 14th content*/

#content-14 {
    text-align: center;
    padding-top: 10px;
}

#content-14 h3 {
    padding-bottom: 10px;
}

#content-14 p {
    font-family: 'Pangolin', cursive;
    padding-bottom: 5px;
}

#content-14 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-14 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}


/* 15th content*/

#content-15 {
    text-align: center;
    padding-top: 10px;
}

#content-15 h3 {
    padding-bottom: 10px;
}

#content-15 p {
    font-family: 'Pangolin', cursive;
    padding-bottom: 5px;
}

#content-15 button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-size: 1em;
    color: rgb(32, 202, 165);
    position: relative;
    display: inline;
    transition: 0.4s;
    overflow: hidden;
    outline: none;
    border: 2px solid rgb(32, 202, 165);
}

#content-15 button:hover {
    background-color: rgb(32, 202, 165);
    color: whitesmoke;
    border-color: white;
}

span {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    animation: ripples 1s linear infinite;
}

@keyframes ripples {
    0% {
        width: 0px;
        opacity: 0.5;
        height: 0px;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}


/*------- Contact -------*/

#Contact {
    min-height: 100vh;
    overflow: hidden;
}

.container {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
}

.contact-first {
    height: 100vh;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-heading {
    display: flex;
    justify-content: center;
    color: rgb(15, 209, 144);
}

.contact-form form {
    margin: auto 20%;
}

.contact-form form label {
    font-weight: 650;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(15, 209, 144);
}

.contact-form form input[type=text] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(15, 209, 144);
    caret-color: rgb(15, 209, 144);
}

.contact-form form input[type=email] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(15, 209, 144);
    caret-color: rgb(15, 209, 144);
}

.contact-form form #message {
    width: 100%;
    height: 10vh;
    padding: 5px 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(15, 209, 144);
    caret-color: rgb(15, 209, 144);
}

.contact-form form input[type=submit] {
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(15, 209, 144);
    color: white;
    transition: background-color 0.5s;
}

.contact-form form input[type=submit]:hover {
    opacity: 0.8;
    color: blanchedalmond;
}

.contact-first .text {
    display: flex;
    justify-content: center;
}

.text p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    color: rgb(15, 209, 144);
}

.contact-first .icons {
    display: flex;
    justify-content: space-evenly;
}

.icons a {
    font-size: 35px;
}

.icons .fa-facebook {
    color: rgb(46, 49, 221);
    box-shadow: 1px 1px 5px black, -1px -1px 5px white;
    padding: 10px;
    transition: 0.5s;
    border-radius: 8px;
}

.icons .fa-facebook:hover {
    transform: translateY(-3px);
    box-shadow: inset 1px 1px 5px black, inset -1px -1px 5px white;
}

.icons .fa-instagram {
    box-shadow: 1px 1px 5px black, -1px -1px 5px white;
    color: rgb(194, 71, 167);
    padding: 10px;
    transition: 0.5s;
    border-radius: 8px;
}

.icons .fa-instagram:hover {
    transform: translateY(-3px);
    box-shadow: inset 1px 1px 5px black, inset -1px -1px 5px white;
}

.icons .fa-twitter {
    box-shadow: 1px 1px 5px black, -1px -1px 5px white;
    color: rgb(68, 169, 216);
    border-radius: 8px;
    padding: 10px;
    transition: 0.5s;
}

.icons .fa-twitter:hover {
    transform: translateY(-3px);
    box-shadow: inset 1px 1px 5px black, inset -1px -1px 5px white;
}

.icons .fa-whatsapp {
    box-shadow: 1px 1px 5px black, -1px -1px 5px white;
    color: rgb(68, 216, 68);
    border-radius: 8px;
    transition: 0.5s;
    padding: 10px;
}

.icons .fa-whatsapp:hover {
    transform: translateY(-3px);
    box-shadow: inset 1px 1px 5px black, inset -1px -1px 5px white;
}

.contact-second {
    padding: 0%;
    height: 100vh;
}

.contact-second img {
    filter: hue-rotate(304deg);
}


/*------ sign in ---------*/

#Register {
    min-height: 100vh;
}

#sign-in {}

.sign-in-container {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
}

.sign-in-second {
    margin-top: 25px;
    padding: 0%;
    height: 100vh;
}

.sign-in {
    margin-top: 25px;
    height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.sign-in .avatar {
    display: flex;
    justify-content: center;
}

.sign-in-heading {
    padding: 0;
    display: flex;
    justify-content: center;
}

.sign-in-heading {
    font-size: 25px;
    color: rgb(15, 209, 144);
}

.sign-in .form form {
    margin: auto 20%;
}

.sign-in .form form .user-text-email {
    position: relative;
    margin-bottom: 35px;
}

.sign-in .form form .user-text-email input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgba(161, 161, 161, 0.712);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: transparent;
    text-indent: 15px;
    font-size: 18px;
    caret-color: rgb(15, 209, 144);
}

.sign-in .form form .user-text-email .border::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: rgb(15, 209, 144);
    transition: 0.5s;
}

.sign-in .form form .user-text-email label {
    position: absolute;
    bottom: .7rem;
    left: 40px;
    font-size: 15px;
    pointer-events: none;
    transition: 0.5s;
    color: rgba(161, 161, 161, 0.712);
}

.sign-in .form form .user-text-email .fa-envelope {
    position: absolute;
    bottom: .7rem;
    left: 5px;
    color: rgba(161, 161, 161, 0.712);
    font-size: 20px;
    transition: 0.5s;
}

.sign-in .form form .user-text-email input:focus+label,
.sign-in .form form .user-text-email input:valid+label {
    bottom: 2.25rem;
    left: 0;
    color: rgb(15, 209, 144);
    font-size: 15px;
    font-weight: bold;
}

.sign-in .form form .user-text-email input:focus+label+.fa-envelope,
.sign-in .form form .user-text-email input:valid+label+.fa-envelope {
    color: rgb(15, 209, 144);
}

.sign-in .form form .user-text-email input:focus+label+.fa-envelope+.border::before,
.sign-in .form form .user-text-email input:valid+label+.fa-envelope+.border::before {
    width: 100%;
    left: 0;
}

.sign-in .form form .password {
    position: relative;
    margin-bottom: 30px;
}

.sign-in .form form .password input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgba(161, 161, 161, 0.712);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 15px;
    font-size: 18px;
    caret-color: rgb(15, 209, 144);
}

.sign-in .form form .password .border::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: rgb(15, 209, 144);
    transition: 0.5s;
}

.sign-in .form form .password label {
    position: absolute;
    bottom: .7rem;
    left: 40px;
    color: rgba(161, 161, 161, 0.712);
    font-size: 15px;
    cursor: text;
    text-align: center;
    transition: all 0.5s;
}

.sign-in .form form .password .fa-lock {
    position: absolute;
    bottom: .7rem;
    left: 5px;
    color: rgba(161, 161, 161, 0.712);
    transition: 0.5s;
    font-size: 20px;
    text-align: center;
}

.sign-in .form form .password .fa-eye {
    position: absolute;
    bottom: .7rem;
    right: 5px;
    color: rgba(161, 161, 161, 0.712);
    transition: 0.5s;
    font-size: 20px;
    text-align: center;
}

.sign-in .form form .password input:focus+label,
.sign-in .form form .password input:valid+label {
    bottom: 2.25rem;
    left: 0;
    color: rgb(15, 209, 144);
    font-size: 15px;
    font-weight: bold;
}

.sign-in .form form .password input:focus+label+.fa-lock,
.sign-in .form form .password input:valid+label+.fa-lock {
    color: rgb(15, 209, 144);
}

.sign-in .form form .password input:focus+label+.fa-lock+.fa-eye,
.sign-in .form form .password input:valid+label+.fa-lock+.fa-eye {
    color: rgb(15, 209, 144);
}

.sign-in .form form .password input:focus+label+.fa-lock+.fa-eye+.border::before,
.sign-in .form form .password input:valid+label+.fa-lock+.fa-eye+.border::before {
    width: 100%;
    left: 0;
}

.sign-in .form form .f-password a {
    color: rgb(15, 209, 144);
}

#submit {
    position: relative;
}

.sign-in .form form #submit input {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: rgb(15, 209, 144);
    color: white;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}

.sign-in .form form #submit::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    width: 0%;
    height: 100%;
    border-radius: 50px;
    background-color: rgba(252, 252, 252, 0.247);
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
}

.sign-in .form form #submit:hover:before {
    left: 0;
    width: 100%;
    opacity: 0.4;
}

.sign-in .sign-up-text {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sign-in .sign-up-text a {
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0), -2px -2px 5px white;
    border: 1px solid rgb(173, 161, 161);
    color: rgb(15, 209, 144);
}

.sign-in .sign-up-text a:hover {
    box-shadow: inset 1px 1px 5px rgb(0, 0, 0), inset -2px -2px 5px white;
}


/*========Sign up=========*/

#sign-up {
    display: none;
}

.sign-up-container {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
}

.sign-up {
    margin-top: 25px;
    height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.sign-up .avatar {
    display: flex;
    justify-content: center;
}

.sign-up-heading {
    padding: 0;
    display: flex;
    justify-content: center;
}

.sign-up-heading {
    font-size: 25px;
    color: rgb(15, 209, 144);
}

.sign-up .form form {
    margin: auto 20%;
}

.sign-up .form form .user-text {
    position: relative;
    margin-bottom: 35px;
}

.sign-up .form form .user-text input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgba(161, 161, 161, 0.712);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: transparent;
    text-indent: 15px;
    font-size: 18px;
    caret-color: rgb(15, 209, 144);
}

.sign-up .form form .user-text .border::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: rgb(15, 209, 144);
    transition: 0.5s;
}

.sign-up .form form .user-text label {
    position: absolute;
    bottom: .7rem;
    left: 40px;
    font-size: 15px;
    pointer-events: none;
    transition: 0.5s;
    color: rgba(161, 161, 161, 0.712);
}

.sign-up .form form .user-text .fa-user-alt {
    position: absolute;
    bottom: .7rem;
    left: 5px;
    color: rgba(161, 161, 161, 0.712);
    font-size: 20px;
    transition: 0.5s;
}

.sign-up .form form .user-text input:focus+label,
.sign-up .form form .user-text input:valid+label {
    bottom: 2.25rem;
    left: 0;
    color: rgb(15, 209, 144);
    font-size: 15px;
    font-weight: bold;
}

.sign-up .form form .user-text input:focus+label+.fa-user-alt,
.sign-up .form form .user-text input:valid+label+.fa-user-alt {
    color: rgb(15, 209, 144);
}

.sign-up .form form .user-text input:focus+label+.fa-user-alt+.border::before,
.sign-up .form form .user-text input:valid+label+.fa-user-alt+.border::before {
    width: 100%;
    left: 0;
}

.sign-up .form form .user-text-email {
    position: relative;
    margin-bottom: 35px;
}

.sign-up .form form .user-text-email input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgba(161, 161, 161, 0.712);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: transparent;
    text-indent: 15px;
    font-size: 18px;
    caret-color: rgb(15, 209, 144);
}

.sign-up .form form .user-text-email .border::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: rgb(15, 209, 144);
    transition: 0.5s;
}

.sign-up .form form .user-text-email label {
    position: absolute;
    bottom: .7rem;
    left: 40px;
    font-size: 15px;
    pointer-events: none;
    transition: 0.5s;
    color: rgba(161, 161, 161, 0.712);
}

.sign-up .form form .user-text-email .fa-envelope {
    position: absolute;
    bottom: .7rem;
    left: 5px;
    color: rgba(161, 161, 161, 0.712);
    font-size: 20px;
    transition: 0.5s;
}

.sign-up .form form .user-text-email input:focus+label,
.sign-up .form form .user-text-email input:valid+label {
    bottom: 2.25rem;
    left: 0;
    color: rgb(15, 209, 144);
    font-size: 15px;
    font-weight: bold;
}

.sign-up .form form .user-text-email input:focus+label+.fa-envelope,
.sign-up .form form .user-text-email input:valid+label+.fa-envelope {
    color: rgb(15, 209, 144);
}

.sign-up .form form .user-text-email input:focus+label+.fa-envelope+.border::before,
.sign-up .form form .user-text-email input:valid+label+.fa-envelope+.border::before {
    width: 100%;
    left: 0;
}

.sign-up .form form .password {
    position: relative;
    margin-bottom: 30px;
}

.sign-up .form form .password input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgba(161, 161, 161, 0.712);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 15px;
    font-size: 18px;
    caret-color: rgb(15, 209, 144);
}

.sign-up .form form .password .border::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: rgb(15, 209, 144);
    transition: 0.5s;
}

.sign-up .form form .password label {
    position: absolute;
    bottom: .7rem;
    left: 40px;
    color: rgba(161, 161, 161, 0.712);
    font-size: 15px;
    cursor: text;
    text-align: center;
    transition: all 0.5s;
}

.sign-up .form form .password .fa-lock {
    position: absolute;
    bottom: .7rem;
    left: 5px;
    color: rgba(161, 161, 161, 0.712);
    transition: 0.5s;
    font-size: 20px;
    text-align: center;
}

.sign-up .form form .password .fa-eye {
    position: absolute;
    bottom: .7rem;
    right: 5px;
    color: rgba(161, 161, 161, 0.712);
    transition: 0.5s;
    font-size: 20px;
    text-align: center;
}

.sign-up .form form .password input:focus+label,
.sign-up .form form .password input:valid+label {
    bottom: 2.25rem;
    left: 0;
    color: rgb(15, 209, 144);
    font-size: 15px;
    font-weight: bold;
}

.sign-up .form form .password input:focus+label+.fa-lock,
.sign-up .form form .password input:valid+label+.fa-lock {
    color: rgb(15, 209, 144);
}

.sign-up .form form .password input:focus+label+.fa-lock+.fa-eye,
.sign-up .form form .password input:valid+label+.fa-lock+.fa-eye {
    color: rgb(15, 209, 144);
}

.sign-up .form form .password input:focus+label+.fa-lock+.fa-eye+.border::before,
.sign-up .form form .password input:valid+label+.fa-lock+.fa-eye+.border::before {
    width: 100%;
    left: 0;
}

#submit {
    position: relative;
}

.sign-up .form form #submit input {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: rgb(15, 209, 144);
    color: white;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}

.sign-up .form form #submit::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    width: 0%;
    height: 100%;
    border-radius: 50px;
    background-color: rgba(252, 252, 252, 0.247);
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
}

.sign-up .form form #submit:hover:before {
    left: 0;
    width: 100%;
    opacity: 0.4;
}

.sign-up .sign-in-text {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sign-up .sign-in-text a {
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0), -2px -2px 5px white;
    border: 1px solid rgb(173, 161, 161);
    color: rgb(15, 209, 144);
}

.sign-up .sign-in-text a:hover {
    box-shadow: inset 1px 1px 5px rgb(0, 0, 0), inset -2px -2px 5px white;
}

.sign-up-second {
    margin-top: 25px;
    padding: 0%;
    height: 100vh;
}


/*------- Mobile width -------*/

@media screen and (max-width:800px) {
    .col-m-1 {
        width: 100%;
    }
    .row::after {
        content: "";
        clear: both;
    }
    #home {
        min-height: 100vh;
    }
    .inner {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0%;
        padding: 0;
    }
    .inner .img {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .inner .img img {
        width: 100%;
        object-fit: contain;
        object-position: center;
    }
    .inner .reading {
        margin-top: 0%;
    }
    .reading .heads {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reading .heads h2 {
        font-size: 2.7em;
        color: rgb(15, 209, 144);
        font-style: oblique;
    }
    .reading .heads h4 {
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    .reading .para p {
        margin-bottom: 1.5em;
        font-size: 1em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }
    .reading-button {
        display: flex;
        justify-content: center;
    }
    .reading .reading-button a {
        font-size: 1.1em;
        color: white;
        padding: 15px;
        background-color: rgb(15, 209, 144);
        border-radius: 30px;
        text-align: center;
    }
    .scroll {
        background-color: rgb(206, 235, 228);
    }
    .nav-bar {
        position: fixed;
    }
    .nav-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    }
    .nav-icon {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    .bar-1,
    .bar-2,
    .bar-3 {
        width: 35px;
        height: 5px;
        outline: none;
        border-radius: 5px;
        background-color: rgb(15, 209, 144);
        margin: 2px 0;
        transition: 0.5s;
    }
    .change .bar-1 {
        transform: rotate(45deg) translate(6px, 6px);
    }
    .change .bar-2 {
        transform: translateX(300%);
        transition: 0.9s;
    }
    .change .bar-3 {
        transform: rotate(-45deg) translate(6px, -8px);
    }
    .nav-link {
        display: none;
    }
    .nav-m-link {
        background-color: rgb(206, 235, 228);
        position: absolute;
        height: 100vh;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        animation: animate 0.8s forwards;
    }
    @keyframes animate {
        0% {
            width: 100%;
            clip-path: circle(0% at 0% 100%);
            background-color: white;
            opacity: 0.2;
        }
        100% {
            width: 100%;
            clip-path: circle(69% at 99% 52%);
            opacity: 1;
        }
    }
    .nav-m-link nav a {
        font-weight: 500;
        color: rgb(15, 209, 144);
        font-size: 1.3em;
    }
    /*Genres*/
    #Genres {
        min-height: 100vh;
    }
    .img-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }
    .flip-card {
        width: 100%;
        height: 250px;
        border: 1px solid white;
        box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.521), inset 3px 3px 15px rgba(167, 160, 160, 0.842);
        border-radius: 20px;
        perspective: 1000px;
        overflow: hidden;
    }
    .flip-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    .flip-card:hover .flip-inner {
        transform: rotateY(180deg);
    }
    .front,
    .back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        border-radius: 20px;
        backface-visibility: hidden;
    }
    .front {
        background-color: turquoise;
        cursor: pointer;
        color: black;
    }
    .front img {
        border-radius: 20px;
    }
    .back {
        background-color: rgb(32, 202, 165);
        color: white;
        transform: rotateY(180deg);
    }
    /*First content*/
    #content-1 {
        text-align: center;
        padding-top: 10px;
    }
    #content-1 h3 {
        padding-bottom: 5px;
    }
    #content-1 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 5px;
    }
    #content-1 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-1 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /*second content*/
    #content-2 {
        text-align: center;
        padding-top: 10px;
    }
    #content-2 h3 {
        padding-bottom: 10px;
    }
    #content-2 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 5px;
    }
    #content-2 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-2 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /* 3rd content*/
    #content-3 {
        text-align: center;
        padding-top: 10px;
    }
    #content-3 h3 {
        padding-bottom: 10px;
    }
    #content-3 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 5px;
    }
    #content-3 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-3 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /* 4th content*/
    #content-4 {
        text-align: center;
        padding-top: 10px;
    }
    #content-4 h3 {
        padding-bottom: 10px;
    }
    #content-4 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 5px;
    }
    #content-4 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-4 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /* 5th content*/
    #content-5 {
        text-align: center;
        padding-top: 10px;
    }
    #content-5 h3 {
        padding-bottom: 10px;
    }
    #content-5 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 10px;
    }
    #content-5 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-5 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /* 6thcontent*/
    #content-6 {
        text-align: center;
        padding-top: 10px;
    }
    #content-6 h3 {
        padding-bottom: 10px;
    }
    #content-6 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 5px;
    }
    #content-6 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-6 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /* 7th content*/
    #content-7 {
        text-align: center;
        padding-top: 10px;
    }
    #content-7 h3 {
        padding-bottom: 10px;
    }
    #content-7 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 10px;
    }
    #content-7 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-7 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /* 8th content*/
    #content-8 {
        text-align: center;
        padding-top: 10px;
    }
    #content-8 h3 {
        padding-bottom: 10px;
    }
    #content-8 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 10px;
    }
    #content-8 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-8 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /*9th content*/
    #content-9 {
        text-align: center;
        padding-top: 10px;
    }
    #content-9 h3 {
        padding-bottom: 10px;
    }
    #content-9 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 5px;
    }
    #content-9 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-9 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /* 10 content*/
    #content-10 {
        text-align: center;
        padding-top: 10px;
    }
    #content-10 h3 {
        padding-bottom: 10px;
    }
    #content-10 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 5px;
    }
    #content-10 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-10 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /*11 content*/
    #content-11 {
        text-align: center;
        padding-top: 10px;
    }
    #content-11 h3 {
        padding-bottom: 10px;
    }
    #content-11 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 5px;
    }
    #content-11 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-11 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /* 12th content*/
    #content-12 {
        text-align: center;
        padding-top: 10px;
    }
    #content-12 h3 {
        padding-bottom: 10px;
    }
    #content-12 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 5px;
    }
    #content-12 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-12 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /* 13th content*/
    #content-13 {
        text-align: center;
        padding-top: 10px;
    }
    #content-13 h3 {
        padding-bottom: 10px;
    }
    #content-13 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 10px;
    }
    #content-13 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-13 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /* 14th content*/
    #content-14 {
        text-align: center;
        padding-top: 10px;
    }
    #content-14 h3 {
        padding-bottom: 10px;
    }
    #content-14 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 5px;
    }
    #content-14 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-14 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /* 15th content*/
    #content-15 {
        text-align: center;
        padding-top: 10px;
    }
    #content-15 h3 {
        padding-bottom: 10px;
    }
    #content-15 p {
        font-family: 'Pangolin', cursive;
        padding-bottom: 5px;
    }
    #content-15 button {
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Pangolin', cursive;
        font-size: 1em;
        color: rgb(32, 202, 165);
        position: relative;
        display: inline;
        transition: 0.4s;
        overflow: hidden;
        outline: none;
        border: 2px solid rgb(32, 202, 165);
    }
    #content-15 button:hover {
        background-color: rgb(32, 202, 165);
        color: whitesmoke;
        border-color: white;
    }
    /*------- Contact -------*/
    #Contact {
        min-height: 100vh;
        overflow: hidden;
    }
    .contact-first {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-second {
        display: none;
    }
    .contact-form form {
        margin: auto 5%;
    }
    /*----Sign In------*/
    #Sign-in {
        min-height: 100vh;
    }
    .sign-in-first {
        display: none;
    }
    .sign-in {
        margin-top: 25px;
        height: 100vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
    }
    .sign-in .avatar img {
        width: 60%;
    }
    .sign-in .form form {
        margin: auto 5%;
    }
    .sign-up-second {
        display: none;
    }
    .sign-up {
        margin-top: 25px;
        height: 100vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
    }
    .sign-up .avatar img {
        width: 60%;
    }
    .sign-up .form form {
        margin: auto 5%;
    }
}
